<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="FrameWorkDesign">
    <classes>
	  <class name="PGObjmodel.AmazonProductTestBase"/>
      <class name="PGObjmodel.AmazonProductSellingTest"/>
    </classes>
  </test> 
</suite> <!-- Suite -->
